main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
  width: 100vw;
  background: #F5EEE5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100vw;
  background-color: #FFA4BC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  
}

.App-title {
  color: #FFA5BC;
  font-style: italic;
}

h2 {
  color: white;
}

@media screen and (max-width: 50.938em) {
  .App-logo {
    width: 48%;
    margin-bottom: 0%;
  }
  body {
    background-color: #FFFAFA;
  }
  .App-title {
    font-size: 48px;
  }
  h2 {
    font-size: 17px;
  }
 
  button {
    font-size: 20px;
    width: 61%;
    padding: 2%;
  }
  
  .navbar {
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media screen and (min-width: 50.940em) {
  .App-logo {
    width: 15%;
  }
  .App-title {
    font-size: 60px;
  }
  body {
    background-color: #FFB696;
  }
  h2 {
    font-size: 25px;
  }
  .navbar {
    padding-left: 1%;
    padding-right: 1%;
  }
}